@import "tailwindcss";
@import "flowbite-react/plugin/tailwindcss";
@source "../../.flowbite-react/class-list.json";

* {
    font-family: Open Sans, Arial, sans-serif;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#root {
    height: 100%;
}